.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 90vh;
}

.login-form-info{
  display: none;
}

.login-form-content {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    padding: 50px 20px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
    }
    .login-form-logo-conatiner{
        margin-bottom: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
        img{
            width: 60%;
            height: 90%;
        }
    }
    .login-form-button{
      background-color: #022a6e;
    }
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form-button {
    width: 100%;
  }
  
  .signup-link, .all-rights-reserved {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    span{
      color: #022a6e;
      font-weight: 900;
    }
  }

  
  .large-input {
    height: 50px; // Increase this value to make the input taller
    font-size: 16px; // Optional: Increase font size for better readability
  }

  :where(.css-dev-only-do-not-override-3rel02).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    color: #fff;
    background: #022a6e;
  }

  
  @media(min-width: 700px){
    .login-form-content {
      width: 400px;
      height: 500px;
    }
  }

  @media(min-width: 1200px){
    .login-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 97vh;
    }
    .login-form-content {
      width: 450px;
      height: 450px;
      margin: 0;
      border-radius: 8px 0 0 8px;
      h2{
        font-size: 2rem;
      }
    }
    .login-form-info{
      display: block;
      width: 450px;
      height: 550px;
      background: #01204E;
      border-radius: 0 8px 8px 0;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      .login-form-info-content{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 100%;
        h2{
          color: #fff;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-weight: 900;
          font-size: 3rem;
        }
        h4{
          color: #fff;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-weight: 500;
          font-size: 1.2rem;
          padding: 20px;
          text-align: center;
        }
        .login-form-info-content-icon{
          color: #fff;
          font-size: 5rem;
          margin-top: 5%;
          margin-bottom: 5%;
        }
      }
    }
  }