.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: #01204E !important;
}

.myVotesHistoryContainer .navbarLogo {
    width: 50px;
    height: 50px;
}

@media (max-width: 900px) {
    .myVotesHistoryContainer{
        .myVotesHistoryContainerContent{
            padding: 0 50px!important;
        }
    }
    .myVotesHistoryContainer .navbarLogo {
        width: 45px;
        height: 45px;
    }
}

.myVotesHistoryContainer{
    padding: 0;
    margin: 0;

}

.myVotesHistoryContainer .navbar-button {
    border-radius: 5px;
    padding: 9px 22px;
    background: #028391;
    border: none;
    color: #01204E;
    cursor: pointer;
    font-weight: bold;
}

.myVotesHistoryContainer .navbar-button:hover {
    border-radius: 5px;
    padding: 9px 22px;
    background: #028391;
    border: none;
    color: #01204E;
    cursor: pointer;
    font-weight: bold;
}